<footer>
   <section>
       <article>
           <p class="section-title large-title">A propos</p>
           <p>L’association Tribu Cancer est née en 2004 à l’initiative de Nathalie Laporte. Atteinte d’un cancer et isolée sur la presqu’île de Quiberon , Nathalie a bénéficié d’un réseau de soutiens qui a fonctionné jour et nuit grâce à Internet. Ses souhaits : que tous les malades et leurs proches puissent bénéficier à leur tour de soutiens à distance et qu’ils puissent réaliser des projets.</p>
       </article>
       <article>
           <p class="section-title large-title">Liens rapides</p>
           <ul>
               <li><a href="">Faire un don</a></li>
               <li><a href="">Maild de nuit</a></li>
               <li><a href="">Bulle santé</a></li>
               <li><a href="">Coaching professionnel</a></li>
               <li><a href="">Plaquette</a></li>
           </ul>
       </article>
       <article>
           <p class="section-title large-title">Informations</p>
           <ul>
               <li><a href="">Actualités</a></li>
               <li><a href="">Faits marquant</a></li>
               <li><a href="">Archives</a></li>
           </ul>
       </article>
       <article>
           <p class="section-title large-title">Partenaires de tribu cancer</p>
           <ul>
               <li><a href="">AFSOS</a></li>
               <li><a href="">AMGEN</a></li>
               <li><a href="">Fondation Pfizer</a></li>
               <li><a href="">Novartis</a></li>
               <li><a href="">Fondation Arcad</a></li>
               <li><a href="">Rotary</a></li>
           </ul>
           <ul>
               <li><a href="">Essec</a></li>
               <li><a href="">INCA</a></li>
               <li><a href="">Eyeka</a></li>
               <li><a href="">Vivre avec</a></li>
               <li><a href="">APHP</a></li>
               <li><a href="">DRAFTFCB</a></li>
           </ul>
           <ul>
               <li><a href="">La voix des patients</a></li>
               <li><a href="">Assocations ressources</a></li>
               <li><a href="">La voix des patients</a></li>
           </ul>
       </article>
   </section>
    <section>
        <div>
            <ul>
                <li><a href="">Mentions légales</a></li>
                <li><a href="">Copyright</a></li>
            </ul>
        </div>
        <div>
            <p>Tribu cancer copyright © 2016</p>
            <p>contact@tribucancer.org</p>
            <p>+33 1 34 56 78 43</p>
        </div>
    </section>
</footer>