<div class="header" style="background-image: url('/assets/imgs/home-banner.png');">
    <span class="shadow"></span>
    {# <img src="/assets/imgs/home-banner.png" alt="mail de nuit le soutien psychologique"> #}
    <div class="content">
        <h2>Tribu Cancer</h2>
        <p>Association de soutien aux personnes attentes d’un cancer et leurs proches</p>
        <a href="{{ url('lassociation') }}" class="button button-orange button-small" target="_blank">En savoir plus</a>
        <a href="clip-eyeka" class="button button-white button-small" id="home-video">Ensemble plus fort</a>
    </div>
</div>