<div class="header">
    <span class="shadow"></span>
    <img src="/assets/imgs/maildenuit-banner.png" alt="mail de nuit le soutien psychologique">
    <div class="content">
        {#{% macro valueTitle(title) %}
            <h1>{{ title }}</h1>
        {% endmacro %}#}
        {#<h1>{{ title }}</h1>#}
        <h1>{{ myTitle }}</h1>
        <p>Un soutien psychologique et une écoute par mail pour les personnes malades du cancer et leurs proches.</p>
        <a href="" class="button button-orange button-small">Accèder au service</a>
        <a href="" class="button button-white button-small">En savoir plus</a>
    </div>
</div>