<div class="header">
    <span class="shadow"></span>
    <img src="/assets/imgs/maildenuit-banner.png" alt="mail de nuit le soutien psychologique">
    <div class="content">
        <h2>{{ myTitle }}</h2>
        <p>Un soutien psychologique et une écoute par mail pour les personnes malades du cancer et leurs proches.</p>
        <a href="http://www.maildenuit.com" class="button button-orange button-small" target="_blank">Accèder au service</a>
        <a href="{{ path('redirect', {'page': 'rompre-lisolement', 'slug': 'mail-de-nuit'}) }}" class="button button-white button-small">En savoir plus</a>
    </div>
</div>