{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-actualite">
	  <div class="medium-wrap service">
	  	<h2>Actualités</h2>
	  	<div class="services-container">
	    	<div class="service-content actualite">
	    		<p class="actu-title">LES FOULÉES DU LARGE : SUCCÈS DE LA 3ÈME ÉDITION AVEC PRÈS DE 800 PARTICIPANTS !</p>
					<div class="header">
					    <img src="assets/imgs/actu-cover.png" alt="foulées du large success">
					</div>

					<div class="actualite-content">
						<p>La 3ème édition des Foulées du Large s'est déroulée le 25 juillet 2015. Elle se composait cette année d'une marche "A Travers la Presqu’ile" suivie d'une course de 5 Km et d'une course de 10 km à Quiberon.<br/>170 participants en 2013, 350 participants en 2014 et près de 800 pour cette 3ème édition !</p>
						<p>Organisateur et contact : Stéphane Boutet - fouleesdularge@gmail.com</p>

		    		<a href="#" class="access-link">LA PAGE FACEBOOK DES FOULÉES DU LARGEe<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
		    		<a href="#" class="access-link">ACCÉDER À LA GALERIE PHOTOS/VIDÉOS DES FOULÉES DU LARGE 2015<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
					</div>

	    		<div class="service-documents">
    		    <h3 class="item-title">Documents</h3>
    		    <ul>
  		        <li>
		            <a class="button button-red button-pdf" href="" download>
		                <span>pdf</span><span class="document-name">Affiche des courses 2015</span>
		            </a>
  		        </li>
  		        <li>
		            <a class="button button-red button-pdf" href="" download>
		                <span>pdf</span><span class="document-name">Affiche de la manche</span>
		            </a>
  		        </li>
  		        <li>
		            <a class="button button-red button-pdf" href="" download>
		                <span>pdf</span><span class="document-name">Classement du 5km</span>
		            </a>
  		        </li>
  		        <li>
		            <a class="button button-red button-pdf" href="" download>
		                <span>pdf</span><span class="document-name">Classement du 10km</span>
		            </a>
  		        </li>
    		    </ul>
	    		</div>

	    	</div>
	    </div>

	    <div class="others-actualites">
	      <a href="#" class="news-section-title active"><h2>Autres Actualités</h2></a>

	      <a href="" class="item-news">
	        <div class="items-news-image">
	          <img src="assets/imgs/news-1.png" alt="les foulées du large">
	        </div>
	        <div class="items-news-title">
	          <p>Les inscriptions pour l'édition 2016 des foulées du large sont ouvertes</p>
	        </div>
	      </a>
	      <a href="" class="item-news">
	        <div class="items-news-image">
	          <img src="assets/imgs/news-2.png" alt="les foulées du large">
	        </div>
	        <div class="items-news-title">
	          <p>TRIBU CANCER SOUTIEN LES PARENTS MALADES AVEC ACTION RME</p>
	        </div>
	      </a>
	      <a href="" class="item-news">
	        <div class="items-news-image">
	          <img src="assets/imgs/news-3.png" alt="les foulées du large">
	        </div>
	        <div class="items-news-title">
	          <p>EFFECTUEZ VOTRE BAPTÈME DE L’AIR À L’AÉROPORT DE PÉRIGUEUX</p>
	        </div>
	      </a>
	    </div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}