{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
  <main class="main-content main-rompre">
    <div class="wide-wrap service seperated">
    	<div class="left-inside-wrap">
	    	<h2>Présentation de l'association</h2>
	    	<div class="services-container">
	    		<div class="service-content">
						<h3 class="item-title">Origine</h3>
						<p>L’association Tribu Cancer est née en 2004 à l’initiative de Nathalie Laporte.<br/>Atteinte d’un cancer et isolée sur la presqu’île de Quiberon , Nathalie a bénéficié d’un réseau de soutiens qui a fonctionné jour et nuit grâce à Internet. Ses souhaits : que tous les malades et leurs proches puissent bénéficier à leur tour de soutiens à distance et qu’ils puissent réaliser des projets.</p>
						<h3 class="item-title">Le papillon</h3>
						<p>Être soutenu pendant toute la traversée de la maladie, et être accompagné pour réaliser un projet qui vous corresponde, modifie la traversée de la maladie. C'est une réelle transformation, comme celle de la chenille en papillon.</p>
						<h3 class="item-title">La tribu</h3>
						<p>Grâce à Internet, tout un réseau de professionnels, de bénévoles et d'anciens malades se réunit, telle une Tribu, autour de chaque patient. Un ensemble de liens se tisse à distance pour vous apporter une écoute et un soutien.</p>

						<h2>Le mot du président</h2>
						<p>Bonjour à tous,<br/><br/>
							L’association <span class="strong">TRIBU CANCER</span>, créée par Nathalie Laporte, a deux grands objectifs :
						</p>
						<ul>
							<li>rompre l’isolement des personnes atteintes d’un cancer et de leurs proches en utilisant les moyens de communication à distance notamment avec notre service « Mail de Nuit » et notre programme de podcasts « Bulle Santé ».</li>
							<li>relier les personnes concernées par le cancer, les malades et leurs proches, afin de favoriser l’entraide et le partage.</li>
						</ul>
						<p><span class="strong">Comme le souhaitait sa fondatrice le but de l’association est de créer un solide réseau d'ENTRAIDE PARTICIPATIF.</span> Il ne s’agit pas d’un réseau d’assistance financière. Chacun s’engage à participer en fonction de ses possibilités. L'engagement de chaque bénévole permet d'assurer la pérennité des actions de l'association et garantit son indépendance et sa liberté d’action.</p>
						<p>Ainsi se créé une véritable interaction : les personnes aidées vont à leur tour soutenir d’autres personnes en difficulté, afin que la notion de <span class="strong">SOLIDARITE</span> ne reste pas un vain mot.</p>
						<p>Pour les nouveaux membres je présente notre charte éthique qui s’adresse à toutes les personnes physiques et morales impliquées dans l’association. Cette charte éthique est importante car elle traduit bien l’âme de l’association et ses grands principes d’action.</p>
						 <a href="#" class="access-link">Charte éthique<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></a>
						 <p>Merci pour tout ce que vous faites et merci pour tout ce que vous ferez encore.<br/>Amicalement et solidairement votre !</p>
						 <h6>Jean-Louis Laporte</h6>
						 <h6>Président Association Tribu Cancer</h6>
	    		</div>
	    	</div>
    	</div>
    	<div class="right-inside-wrap">
    		<h2>Documents</h2>
    		<div class="documents module">
    			<p>Vous pouvez <span class="strong">télécharger</span> en cliquant sur les boutons ci-dessous tous les <span class="strong">documents PDF</span> en rapport avec la présentation de l’association Tribu Cancer.</p>
    			<ul>
                    {% for doc in pdf.0 %}
                        <li>
                            <a class="button button-{{doc.color}} button-pdf" href="assets/pdf/{{doc.file}}" download>
                              <span>pdf</span><span class="document-name">{{doc.name}}</span>
                            </a>
                        </li>
                    {% endfor %}
    			</ul>
    		</div>
    		<h2>Réseaux sociaux</h2>
    		<div class="social-networks module">
    			<p>Retrouvez <span class="strong">Tribu Cancer</span> sur les <span class="strong">réseaux sociaux</span> pour être tenu informer des <span class="strong">dernières actualités</span> de l’association.</p>
    			<a href="https://www.facebook.com/tribucancer"><img src="assets/icons/facebook-logo.svg" alt="tribu cancer facebook page"></a>
    		</div>
    	</div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}{% endblock %}