<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tribu Cancer{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter="scssphp" output="css/style.css"
        "@AppBundle/Resources/sass/main.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {# <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" /> #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}{% include 'partials/nav.html.twig' %}{% endblock %}
        {% block headerBanner %}{% include 'partials/header.html.twig' %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
        {% javascripts '@AppBundle/Resources/js/*' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    </body>
</html>
