{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-contact">
	  <div class="medium-wrap service">
	  	<h2>Contact</h2>
	  	<div class="services-container">
	  		<div class="service-content">
	  			<div class="inscription-form">
              <h6 class="success_mail_sent">Votre email a bien été envoyé !</h6>
              <a href="{{ url('homepage') }}" class="comeback button button-orange button-small">Revenir à l'accueil</a>
          </div>
	  		</div>
	  	</div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}