{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
	<main class="main-content main-contact">
	  <div class="medium-wrap service">
	  	<h2>Contact</h2>
	  	<div class="services-container">
	  		<div class="service-content">
	  			<div class="inscription-form">
              <h6>Si vous souhaitez nous contacter, merci de remplir le formulaire suivant :</h6>
              <form action="">
                  <fieldset>
                      <label class="required" for="last-name">Nom<span>*</span>:</label>
                      <input required="required" type="text" name="last-name" id="last-name">
                  </fieldset>

                  <fieldset>
                      <label class="required" for="first-name">Prénom<span>*</span>:</label>
                      <input required="required"  type="text" name="first-name" id="first-name">
                  </fieldset>

                  <fieldset class="full-size">
                      <label class="required" for="email">Email<span>*</span>:</label>
                      <input required="required"  type="email" name="email" id="email">
                  </fieldset>

                  <fieldset class="full-size">
                      <label class="required" for="message">Message<span>*</span>:</label>
                      <textarea required="required"  name="message" id="message"></textarea>
                  </fieldset>

                  <input type="hidden" id="form-slug" value="contact">

                  <input type="submit" id="submit-form" class="hidden" />
              </form>

              <label class="submit-button" for="submit-form">Valider mes informations et envoyer le formulaire<img src="assets/icons/arrow-right.svg" alt="en savoir plus"></label>
          </div>
	  		</div>
	  	</div>
	  </div>
	</main>
{% endblock %}

{% block javascripts %}{% endblock %}