{% extends 'base.html.twig' %}
{% import 'partials/header.html.twig' as title %}

{% block body %}
    <h1>{{ title.valueTitle('Mail de nuit') }}</h1>
{% endblock %}

{% block javascripts %}{% endblock %}
