{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
  <main class="main-content main-mentions-legales">
    <div class="wide-wrap service">
    	<h3>Mentions légales</h3>
    	<div class="services-container">
    		<div class="service-content">
					<h4 class="item-title">Edition</h4>
					<p>Tribu cancer est une association régie par la loi du 1er juillet 1901 et le décret du 16 août 1901, située au 112, Boulevard de Rochechouart, 75018 Paris.<br/>Numéro de Siret : 483220 794 00018<br/>Ses statuts ont été déposés en Préfecture le 11 août 2004.<br/>Vous pouvez contacter le webmestre du portail à l'adresse suivante : contact@tribucancer.org<br/>Téléphone : 02 43 92 74 30 <br/>Directeur de la publication : le président de l'association, Mr Jean Louis LAPORTE</p>
					<h4 class="item-title">Financement</h4>
					<p>Le site est réalisé par des bénévoles de l'association. Ses frais sont financés par les adhésions des membres, les subventions et aides diverses (collectivités) et laboratoires pharmaceutiques (Roche, Amgen et autres partenaires).</p>
					<h4 class="item-title">Hébergement</h4>
					<p>Le prestataire assurant le stockage direct et permanent du site est Internet-Hebergeur.com - SYSTEMA NETWORK<br/>16 rue Grange Dame Rose<br/>78140 VELIZY<br/>France</p>
					<h4 class="item-title">Droit d'auteur et de reproduction</h4>
					<p>La présentation et le contenu du présent site constituent dans leur intégralité une œuvre protégée selon les lois françaises et conventions internationales en vigueur sur la propriété intellectuelle. Tous les éléments constitutifs du présent site notamment : nom de domaine, Vidéo, audio, photographies, logos, dessins, charte graphique et graphiques, textes, applications spécifiquement développées et leurs sources, ainsi que l’ensemble des informations de quelque nature que ce soit et sous quelque format existant ou à venir - pages HTML statiques ou dynamiques, etc. sont la propriété exclusive de Tribu Cancer. La marque et le logo du site Tribu Cancer sont déposés.</p>
					<h4 class="item-title">Orientation du site</h4>
					<p>Une déclaration concernant la mission du site et son objectif est affichée sur le site dans l'onglet "A propos". Le site mentionne explicitement l'audience visée (malades et proches, public en général, professionnels de la santé, étudiants…)</p>
					<h4 class="item-title">Confidentialité</h4>
					<p>Toutes les informations personnelles concernant les visiteurs du site Tribu Cancer, y compris leur identité sont confidentielles. Le responsable du site s'engage sur l'honneur à respecter les conditions légales de confidentialité applicables en France et à ne divulguer à aucun tiers ces informations personnelles.</p>
					<h4 class="item-title">Informations sur le site</h4>
					<p>Les informations mises en lignes sur le site ont pour source l'actualité scientifique et médicale, mais surtout les retours issus des services interactifs de l'association :</p>
					<ul>
						<!-- <li>Mail de Nuit : permanence par mail de 21h à minuit, à l'attention des malades et de leurs proches. Service assuré toutes les nuits par des bénévoles formés par l'association.</li>
						<li>Chat d'orientation, et d'information : tous les jours de 19h30 à 20h. Service à l'attention des proches </li>
						<li>Espace d'échange : service interactif d'échange d'informations à l'attention des malades, des proches et des soignants.</li> -->
						<li>Mail de Nuit, Bulle Santé, coaching pro ainsi que pendant les activités d’évasion organisées par l’association. </li>
					</ul>
					<p>Les informations présentes sur le site sont destinées à améliorer, non à remplacer, la relation qui existe entre le visiteur de Tribu Cancer et son médecin. Les retours de nos services interactifs nous permettent de cerner les demandes, les interrogations les plus urgentes des personnes malades et de leur entourage, notamment en terme de prise en charge humaine.</p>
					<!-- 	<p>
							D'autre part l'association lance Tribu TV, télévision en ligne pour les personnes touchées par la maladie. Tribu TV a pour mission d'être une chaine d'information, mais aussi de vie et d'espoir. Elle assurera la diffusion d'évènements (en direct et en différé), de reportages, de témoignages, de conseils de spécialistes; Responsable éditorial : Dr Louis-Marie Vialard , vice-président de l'association.
						</p>
						<p>Le responsable éditorial du site est Pierre Tonnellier, salarié de l'association. Les contenus sont validés par Jean-Louis Laporte, directeur de la publication, président de l'association et Virginie Thévenin , membre du conseil d'administration, vice-présidente de l'association, chargée du suivi de la qualité et de l'évaluation du site.</p> -->
					<h4 class="item-title">Annonceurs présents sur le site</h4>
					<p>Tribu Cancer n'affiche pas de publicité sur son site.<br/>Les annonces, réservées aux structures dont l'activité est en lien avec la santé, apportent de l'information complémentaire dans de le domaine de la santé.</p>
    		</div>
    	</div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}{% endblock %}