<header>
    <div class="content">
        <div class="tribucancer-logo">
            <a href="{{ path('homepage') }}"><img src="assets/imgs/logo-tribu.png" alt="association tribu cancer"></a>
        </div>
        <nav>
            <ul>
                <li><a href="">L'association</a></li>
                <li><a href="">Nous soutenir</a></li>
                <li><a href="">Rompre l'isolement</a></li>
                <li><a href="">S'évader</a></li>
                <li><a href="">Partenaires</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <a class="button button-red button-pdf" href="" download>
            <span>pdf</span>
            Télécharger la plaquette
        </a>
    </div>
</header>

