{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{% block body %}
    <main class="main-content main-rompre">
      <div class="medium-wrap service">
      	<h3>SOUTENIR LES ACTIONS DE TRIBU CANCER</h3>

      	<div class="services-container">
      		<div class="service-content">
  					<h3 class="item-title">Paiement par chèque</h3>
  					<p>Merci de télécharger puis de nous retourner le <span class="strong">bulletin de soutien et d’adhésion</span> à Association Tribu Cancer, 112 Boulevard de Rochechouart, 75018 Paris.</p>
  					<a class="button button-red button-pdf" href="assets/pdf/don-et-soutien.pdf" download>
  			      <span>pdf</span><span class="document-name">Bulletin soutien & adhésion</span>
  			    </a>
  			     <p class="conditions"><span>INFORMATION SUR LA FISCALITÉ DES DONS</span>L’association Tribu Cancer est reconnue comme organisme d’intérêt général et bénéficie de réductions d’impôts.</p>
  			     <p class="conditions"><span>POUR LES PARTICULIERS ASSUJETTIS À L’IMPÔT SUR LE REVENU</span>Si vous êtes imposables, vous pouvez bénéficier d’une réduction d’impôt sur le revenu égale à 66% du montant du don dans la limite de 20% de votre revenu net imposable (au-delà de 20%, report possible sur les 5 années suivantes). Ainsi, si vous donnez 50 euros, vous bénéficiez d’une réduction d’impôt de 33 euros.</p>
  			     <p class="conditions"><span>POUR LES ENTREPRISES ASSUJETTIES À L’IMPÔT SUR LES SOCIÉTÉS</span>Vous pouvez bénéficier d’une réduction d’impôt sur les sociétés de 60% sur L’ensemble des versements au titre du mécénat, dans la limite de 0,5 % du chiffre d’affaires HT. Au-delà de 0,5 % ou en cas d’exercice déficitaire, report possible sur les 5 exercices suivants (Art 238 bis 1° du code général des impôts).</p>
      		</div>
      	</div>
      </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock %}