{% extends 'base.html.twig' %}
{% block headerBanner %}{% endblock %}

{# 
{% block body %}
	<main class="main-content main-pertenaires">
	  <div class="wide-wrap service">
	  	<h2>Partenaires</h2>
	  </div>
	</main>
{% endblock %}
#}

{% block javascripts %}{% endblock %}