{% extends 'base.html.twig' %}

{% block body %}
    <h1>BONJOUR BORIS ET MARTIN ET PAS MATTHIEU CAR IL SAIT PAS LANCER SYMFONY</h1>
{% endblock %}

{% block javascripts %}
<script>
    console.log($);
</script>
{% endblock %}
