.main-articles-list {

	.wide-wrap {
		padding: 0 2%;
	}

	h3 {
		margin-bottom: 20px;
	}

	.archives-container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.item-news {
		margin: 0 2% 2% -0px;
		width: 335px;
	}

	@media screen and (max-width: 1090px) {
		.items-news {
			max-width: 335px;
		}
	}
}