/** FOOTER **/

footer {
  width: 100%;
  background-color: $black-3;

  section {
    display: block;
    padding: 0 30px;

    &:first-child {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 1280px;
      height: auto;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 20px;

      div.footer-item {
        max-height: 320px;
        max-width: 500px;
        margin-right: 3%;
        &:first-child,
        &:last-child {
          // flex: 1;
        }
        &:first-child {
          max-width: 300px;
        }
        &:last-child {

          margin-right: 0;
          ul {
            float: left;
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        li {
          margin-bottom: 5px;
        }
      }

      p,
      a{
        color: rgba($white, .5);
        line-height: 18px;
      }
      .section-title {
        margin-bottom: 15px;
        color: rgba($white, .9);
      }
    }

    &:last-child {
      height: 85px;
      background-color: $black-2;

      div {
        display: inline-block;
        height: 100%;

        &:last-child {
          float: right;
          padding-top: 15px;
          p {
            display: block;
            color: $white;
            margin-bottom: 5px;
            &:first-child {
              text-transform: uppercase;
              color: rgba($white, .9);
            }
          }
        }
      }

      ul {
        float: left;
        max-width: 49%;
        margin-right: 4%;
        li {
          display: inline-block;
          height: 100%;
          line-height: 85px;
          text-transform: uppercase;
          margin-right: 30px;
          a{
            color: rgba($white, .3);
          }
        }
      }
    }

    .mentions-div{
      line-height: 85px;

      a{
        color: rgba($white, .3);
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  footer {
    section {
      &:first-child {

        div.footer-item {
          margin-right: 3%;
          &:last-child {
            -webkit-flex: none;
                -ms-flex: none;
                    flex: none;
          }
        }
      }
    }
  }
}