/** RESET CSS **/

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;  }
/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;  }
body {  line-height: 1;  }
ol, ul {  list-style: none;  }
blockquote, q {  quotes: none;  }
blockquote:before, blockquote:after, q:before, q:after { content: '';  content: none; }
table { border-collapse: collapse;  border-spacing: 0; }

/** BASE **/
// Here you add the style of elements like links, texts, like they should be in all the pages

body {
  background-color: $grey-bg;
}

div, span, a, p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p,a {
  font-family: $font;
  font-size: 14px;
  font-weight: $lato-regular;
}

p {
  font-weight: $lato-regular;
  color: rgba($black, .8);
}

a {
  color: $black;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: $font;
}

h2, h3, h4, h5 {
  font-weight: $lato-black;
  text-transform: uppercase;
  color: rgba($black, .8);
}

h1 {
  font-family: $font;
  font-size:44px;
  font-weight: $lato-black;
  color: $white;
}

h2 {
  font-size: 14px;
  letter-spacing: 0.83px;
}

h3 {
  font-size: 12px;
  letter-spacing: 1.22px;
  &.item-title {
    position: relative;
    padding-bottom: 7px;
    background-size: 40px 8px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent 50%, $orange 50%);
  }
}

h5 {
  font-size: 12px;
  letter-spacing: 1.22px;
}

h6 {
  font-family: $font;
  font-weight: $lato-bold;
  font-size: 14px;
  line-height: 21px;
}

span.strong {
  font-weight: $lato-black;
}

.access-link {
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: $lato-black;
  color: rgba($black, .8);
  letter-spacing: 1.01px;
  &:hover {
    img { margin-left: 15px; }
  }
  img {
    margin-left: 10px;
    width: 25px;
    transition: all .3s ease;
  }
}

.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size:10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.84px;
  font-weight: $lato-regular;
  color: $white;
  transition: all .3s ease;

  &.button-red {
    background-color: $red;
    font-weight: $lato-black;
    span:first-child {color: $red}
    &:hover { background-color: rgba($red, .8); }
  }
  &.button-orange {
    background-color: $orange;
    &:hover { background-color: rgba($orange, .8); }
  }
  &.button-blue {
    background-color: $blue;
    font-weight: $lato-black;
    span:first-child {color: $blue}
    &:hover { background-color: rgba($blue, .8); }
  }
  &.button-grey {
    background-color: $dark-grey;
    font-weight: $lato-black;
    span:first-child {color: $dark-grey}
    &:hover { background-color: rgba($dark-grey, .8); }
  }
  &.button-white {
    background-color: $white;
    color: $orange;
    &:hover { background-color: rgba($white, .8); }
  }
  &.button-small {
    height: 35px;
    min-width: 100px;
    line-height: 35px;
    padding: 0 10px;
    text-transform: none;
    font-weight: $lato-regular;
    font-size: 12px;
    box-sizing: border-box;
  }

  span {
    &:first-child {
      display: inline-block;
      width: 26px;
      height: 16px;
      margin: 0 8px 0 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      line-height: 16px;
      text-align: center;
      background-color: $white;
      color: currentColor;
      font-size: 8px;
      font-weight: $lato-black;
      text-transform: uppercase;
    }
    .document-name {
      padding-right: 15px;
    }
  }

}


.section-title {
  font-size: 14px;
  font-weight: $lato-black;
  text-transform: uppercase;
  color: $black;

  &.large-title {
    font-size: 16px;
  }
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(29, 90, 217, 0.35);
  z-index: 2;
}

.see-more {
  position: absolute;
  bottom: 10px;
  margin-top: 10px;
  a {
    display: block;
    font-size: 10px;
    line-height: 20px;
    &:hover {
      img {
        margin-left: 10px;
      }
    }
    img {
      display: inline-block !important;
      margin-bottom: 0;
      margin-left: 3px;
      transition: all .3s ease;
    }
  }

}

.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 0 235px;
}