.main-list {
  .button-create{
    float: right;
    margin: 0 10px 0 0;
  }
  .content{

    width: 100%;

    font-family: $font;

    .row{



      td{
        vertical-align: middle;
        text-align: center;
        padding: 10px;

      }

      &.row-head{
        font-weight: $lato-black;

      }

      &.row-data{
        font-weight: $lato-regular;
        .td-actions{

          a{
            width: 125px; 
            margin: 5px auto 5px auto;
            display: block;
          }
        }
        .td-image{

          .image-data{
            width: 150px;
          }
        }
        .td-body{
          text-align: left;
        }
        .td-pdf{
          a{
            display: inline-block;
            margin: 5px;
          }
        }
      }

      &:nth-child(even){
        background-color: $grey-striped;
      } 
    }
  }
}

.confirm-delete-content{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .shadow{
    background: black;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .box{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: $grey-striped;
    .text{
      text-align: center;
      padding: 20px 40px;
    }
    .confirm-action{

      .button-ok{
        float: left;
        margin: 0px 5px 20px 20px;
      }
      .button-cancel{
        float: right;
        margin: 0px 20px 20px 5px;
      }
    }
  }
}