<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tribu Cancer Administration{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter="scssphp" output="css/admin/style.css"
        "@AppBundle/Resources/sass/admin/main.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {# <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" /> #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}{% include 'AppBundle:Admin/partials/nav.html.twig' %}{% endblock %}
        <div class="main-content">
            {% block header %}{% include 'AppBundle:Admin/partials/header.html.twig' %}{% endblock %}
            {% block body %}{% endblock %}
            {# block footer %}{% include 'AppBundle:Admin/partials/footer.html.twig' %}{% endblock #}
        </div>
        {% javascripts '@AppBundle/Resources/js/admin/*.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    </body>
</html>
