{% extends 'AppBundle:Admin:base.html.twig' %}
{% import 'AppBundle:Admin/partials/header.html.twig' as title %}

{% block body %}
	<main class="main-edit">
	    
  	</main>

{% endblock %}

{% block javascripts %}{% endblock %}
