{% extends 'AppBundle:Admin:base.html.twig' %}
{% import 'AppBundle:Admin:partials/header.html.twig' as title %}

{% block body %}
	<main class="main-home">
		<p>Bienvenue dans le Back office de Tribu Cancer.<br>
		Grace au menu à gauche vous pouvez naiguez entre les différents types de contenues personalisables.
		</p>
	</main>

{% endblock %}

{% block javascripts %}{% endblock %}
